<div>
  <h2>Insurance Premium Calculator</h2>

  <label>Name</label>
  <input type="text" [(ngModel)]="formData.name"/>

  <label>Age Next Birthday</label>
  <input type="number" [(ngModel)]="formData.age"/>

  <label>Date of Birth</label>
  <input type="month" [(ngModel)]="formData.dateOfBirth"/>

  <label>Occupation</label>
  <select [(ngModel)]="formData.occupation" (change)="onOccupationChange()">
    <option value="">-- Select --</option>
    <option *ngFor="let occ of occupations" [value]="occ.rating">
      {{occ.name}}
    </option>
  </select>

  <label>Death – Sum Insured</label>
  <input type="number" [(ngModel)]="formData.deathSumInsured" />

  <div *ngIf="premium !== null">
    <h3>Monthly Premium: {{ premium | currency:'USD' }}</h3>
  </div>
</div>
